:root {
    --primary-color: #ffffff;
    --secondary-color: #242424;
    --bg-color: #0d0d0d;
    --text-color: #e0e0e0;
    --card-bg: #1a1a1a;
    --header-gradient: linear-gradient(90deg, #080808, #181818);
    --search-bar-placeholder-color: rgba(255, 255, 255, 0.6);
}

[data-theme="light"] {
    --primary-color: #242424;
    --secondary-color: #ffffff;
    --bg-color: #f4f4f8;
    --text-color: #1a1a1a;
    --card-bg: #ffffff;
    --header-gradient: linear-gradient(90deg, #f5f5f5, #e1e1e1);
    --search-bar-placeholder-color: rgba(22, 22, 22, 0.6);
}

[data-theme="dark"] {
    --primary-color: #ffffff;
    --secondary-color: #242424;
    --bg-color: #0d0d0d;
    --text-color: #e0e0e0;
    --card-bg: #1a1a1a;
    --header-gradient: linear-gradient(90deg, #080808, #181818);
    --search-bar-placeholder-color: rgba(255, 255, 255, 0.6);
}

* {
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Orbitron', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: var(--header-gradient);
    color: var(--text-color);
    border-radius: 0.5rem;
}

header h1 {
    font-size: 1.5rem;
}

#search-bar {
    padding: 0.7rem 1rem;
    border-radius: 999px;
    border-width: 1px;
    border-color: var(--primary-color);
    border-style: solid;
    width: 250px;
    background: rgba(255, 255, 255, 0.1);
    color: var(--text-color);
    outline: none;
}

#search-bar::placeholder {
    color: var(--search-bar-placeholder-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

footer {
    text-align: center;
    padding: 2rem;
    font-size: 0.9rem;
    color: var(--text-color);
}

#theme-btn {
    background-color: transparent;
    border: none;
}
