.package-card {
    background-color: var(--card-bg);
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    padding: 1.5rem;
    margin: 1rem;
    width: 300px;
    transition: transform 0.3s;
    cursor: pointer;
}

.package-card:hover {
    transform: translateY(-5px) scale(1.03);
}

.package-card h2 {
    margin-top: 0;
    color: var(--primary-color);
}

.package-card p {
    color: var(--text-color);
}

.package-card a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

.install-btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    border: none;
    background: var(--secondary-color);
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.install-btn:hover {
    transform: scale(1.05);
}

#package-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));
    gap: 20rem;
    justify-items: center;
}
